.container-fluid{
    background: linear-gradient(135deg, #11575F, #14737D, #0E4A55, #1A6D7B, #0C3E48, #2A889A, #0B2F38);
}
.header-bar {
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    overflow: hidden;
}
.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 24px;
}
.slider-container {
    flex-grow: 1;
    text-align: center;
    position: relative;
}
.phone-info {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-right: 20px;
}
.phone-info i {
    margin-right: 5px;
}
.carousel-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}
.carousel-control-prev, .carousel-control-next {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.control-wrapper {
    display: flex;
    align-items: center;
}
@media (max-width: 768px) {
    .social-icons, .phone-info {
        display: none;
    }
}
.carousel-item {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 18px;
    padding-top: 13px;
    padding-left: 30px;
}